<%- include('../inc/top') %>

<div class="container mt-5" style="min-height: 700px;">
    <div class="container">
        <div class="container-fluid  border border-primary ">
            <div class=" container p-3 mb-2 bg-light rounded-5 "  >
              <h1 class="text-center">Update Category</h1>
                <form action="" method="post">
                    <div class="col-auto">
                        <label for="formGroupExampleInput" class="form-label">Category</label>
                        <input class="form-control"  value="<%= objSp.name  %>" name="name" required>
                    </div>
                    <div class=" mx-auto mt-3" style="align-items: center; text-align: center;" >
                        <button type="submit" class="btn btn-warning">Add</button>
                        
                        <a href="/product/Category" class="btn btn-secondary">
                            Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

   
    <%- include('../inc/bottom') %>