<%- include('../inc/top') %>
    <div class="row">
       <img  style="height: auto;" src="https://img.freepik.com/free-vector/recruit-agent-analyzing-candidates_74855-4565.jpg?w=1380&t=st=1679636721~exp=1679637321~hmac=e69c2d1c6bb775e33f10e8f7cf7a031a65778664e43525deefb59d9bd2d56eb6">
    </div>
    <%- include('../inc/bottom') %>